<script>
  import { scaleLinear, scaleBand } from 'd3-scale'; 
  import { onMount } from 'svelte';
  import { extent } from 'd3-array';
    // Size and margins
    const width = 500;
    const height = 600;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
      let week =[]
    let data_points = []
      onMount(async() => {
       await fetch("./data/hourly_electricity_vs_gas_december.json")
        .then(res => res.json())
        .then(data => data_points = data)
        });
      $: console.log(data_points)
      let data_electricity = {}
      $:{
        data_points.forEach((d) => {
          if ( !(d.week in data_electricity))  {
            data_electricity[d.week]= []
          }
          data_electricity[d.week].push(d.total_electrity)
        })
      }
  
      let data_gas = {}
      $:{
        data_points.forEach((d) => {
          if ( !(d.week in data_gas))  {
            data_gas[d.week]= []
          }
          data_gas[d.week].push(d.total_gas)
        })
      }
      $: console.log(extent(data_points.map((d) => d.total_electrity)))
      $: console.log(extent(data_points.map((d) => d.total_gas)))
  
  
  $: xScale_right = scaleLinear()
                .domain([0,168])
                .range([250,margin.right]);
  $: xScale_left = scaleLinear()
                .domain([0,168])
                .range([250, 50]);
  
  $: y_scale_e = scaleLinear()
                .domain(extent(data_points.map((d) => d.total_electrity)))
                .range([50, 0]);
  $: y_scale_g = scaleLinear()
                .domain(extent(data_points.map((d) => d.total_gas)))
                .range([20,50]);
  
  
  
    let elec_path = (d, left) => {
      if (left==1){
      let path1 = "M" + xScale_left(0) + ',' + y_scale_e(0);
          d.forEach((value, idx) => {
        path1 += " " + xScale_left(idx) + ',' + y_scale_e(value)
      })
      
      return path1 + "Z";
        } else{
      let path1 = "M" + xScale_right(0) + ',' + y_scale_e(0);
          d.forEach((value, idx) => {
        path1 += " " + xScale_right(idx) + ',' + y_scale_e(value)
      })
      return path1 + "Z";
      
    }}
  
      let gas_path = (d, left) => {
      if (left==1){
      let path2 = "M" + xScale_left(0) + ',' + y_scale_g(0);
          d.forEach((value, idx) => {
        path2 += " " + xScale_left(idx) + ',' + y_scale_g(value)
      })
      return path2 + "Z";
    } else{
      let path2 = "M" + xScale_right(0) + ',' + y_scale_g(0);
          d.forEach((value, idx) => {
        path2 += " " + xScale_right(idx) + ',' + y_scale_g(value)
      });
      return path2 + "Z";
    }}
  
  
  
      
  </script>
  
    
  <svg {width} {height}>
  
      <g transform="translate({margin.left}, {margin.top})">
        <line x1 = "250" y1="0" x2 = "250" y2 = "600" stroke-width= "10"/>
        {#each Object.keys(data_electricity) as value, idx}
          <g transform = "translate(-10,{idx*height/5})">
          {#if idx % 2 == 0}
            <g transform = "translate(250,{height/5+500})rotate(-20)">
            <path class = "elec" d = {elec_path(data_electricity[value])}> </path>
            </g>
          {:else}
            <g transform = "translate(275,{height/5-100}) rotate(20)">
            <path class = "elec" d = {elec_path(data_electricity[value])}> </path>
            </g>
          {/if}
          </g>
        {/each}
        </g>
  
  
    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.keys(data_gas) as value, idx}
      <g transform = "translate(0,{idx*height/5+100})">
        {#if idx % 2 == 0}
        <g transform = "rotate(-20)">
        <path class = "gas" d = {gas_path(data_gas[value])}> </path>
        </g>
        {:else}
        <g transform = "translate(0,{-height/5-40}) rotate(20)">
        <path class = "gas" d = {gas_path(data_gas[value])}> </path>
        </g>
        {/if}
      </g>
      {/each}
    </g>
    
  
    </svg>
    
    <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    .elec {
      fill: blue;
      opacity: .9;
    }
    .gas {
      fill: rgb(255, 174, 0);
      opacity: .9;
    }
  
    
    </style>