<script>
	import { scaleLinear, scaleBand } from 'd3-scale'; 
	import { onMount } from 'svelte';
	import { extent } from 'd3-array';	
	
	
	  // Size and margins
	  const width = 600;
	  const height = 370;
	  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	  const innerWidth = width - margin.left - margin.right;
	  const innerHeight = height - margin.top - margin.bottom;
	
		let data_points = []
		onMount(async() => {
		 await fetch("./data/hourly_heating_december.json")
		  .then(res => res.json())
		  .then(data => data_points = data)
		  });
	  $: console.log(data_points)
		

		let cities = ["Baltimore", "Los Angeles", "Chicago"];
		let selected = "Baltimore";
		let Select_c = null; 
	    let transformed_data = {}
		$:{
			data_points.forEach((d) => {
				if ( !(d.city in transformed_data))  {
					transformed_data[d.city]= {}
				}
                if ( !(d.buildingtype in transformed_data[d.city])) {
					transformed_data[d.city][d.buildingtype] = []
				}
				transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
			})

		
		}
		$: console.log(extent(data_points.map((d) => d.total_heating_energy)))

		$:  xscale = scaleLinear()
		                    .domain([0,744])
							.range([125, innerWidth])
	    $:  yscale = scaleLinear()
		                    .domain(extent(data_points.map((d) => d.total_heating_energy)))
							.range([16, 0])
    

		let pathgenerator = (d) => {
		let path = "M";
		d.forEach((value, idx) => {
			path += " " + xscale(idx) + ',' + yscale(value)
		})
		
		return path;
		///
	}

	
	</script>
	

	
	<svg {width} {height} >
		<g transform="translate({margin.left}, {margin.top})">
			<text y={margin.top} x= "75" font-size="18px">Energy consumption across multiple building types</text>
			{#each Object.keys(transformed_data) as c, c_idx}
			    {#each Object.keys(transformed_data[c]) as b, b_idx}
				<text x={margin.left} y={b_idx*20+37} font-size="10px">{b}</text>
				 <g transform="translate(0,{b_idx*20+20})">
				    {#each transformed_data[selected][b] as value, idx}
					<path d={pathgenerator(transformed_data[selected][b])}/>

					{/each}
				</g>
                {/each}
	        {/each}	
		</g>
	
	
		
 
	  </svg>

	
	  <div>
		<ol>
		{#each cities as place}
	
		  <li><input checked={selected===place} on:change={() => (selected = place)} 
		  type="radio" name="amount" selected=place /> {place}</li>
	
		{/each} 
		</ol>
	  </div>

	

	
	
	<style>
		svg {
		  border: 1px solid black;
		  border-radius: 5px;
		}
	  
	path{
		fill: steelblue;
		fill-opacity: 0.5;
		stroke: none;
		
	}


	  </style>
	  