<script>
	import {onMount} from "svelte";
	import { scaleLinear, scaleRadial, scaleLog } from 'd3-scale';
	import {extent} from 'd3-array';
  
	// Size and margins
	const width = 250;
	const height = 250;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
  

	  
	let data_points = []
		onMount(async() => {
		 await fetch("./data/daily_heating_cooling.json")
		  .then(res => res.json())
		  .then(data => data_points = data)
		  });
	  $: console.log(data_points)

	  let data_heat = {}
		$:{
			data_points.forEach((d) => {
				if ( !(d.city in data_heat))  {
					data_heat[d.city]= {"heating":[], "cooling":[]}
				}
				data_heat[d.city]["heating"].push(d.heating)
				data_heat[d.city]["cooling"].push(d.cooling)
			
			})
		}

	
		$: scale_year = scaleLinear()
		                .domain(0, 365)
						.range(0, 2*Math.PI)
        $: scale_radius =scaleLog()
		                .domain(extent(data_points.map((d) => d.heating)))
						.range([1, 70])

		
    // create paths for heating & cooling

    let pathGen = (d) => {
		let path = "M " + (innerWidth-150) + "," + (innerHeight/12);
        d.forEach((value,idx) =>{
        path += " " + (innerWidth-150 + Math.sin(idx*Math.PI/365*2)*scale_radius(value)) + "," + (innerHeight/12+ -Math.cos(idx*Math.PI/365*2)*scale_radius(value))
         })
         return path;  
  }




	  </script>

<svg width = {width*3} {height} >
	<g transform="translate({margin.left}, {margin.top})">
		<text y={margin.top} x="150" font-size="20px"> Heating vs cooling energy throughout one year</text>
		<circle class= "legend_h" cx={margin.left} cy={margin.top+10} r=8/>
		<text y={margin.top+12} x="20" font-size="10px"> Heating</text>
		<circle class= "legend_c" cx={margin.left} cy={margin.top+35} r=8/>
		<text y={margin.top+37} x="20" font-size="10px"> Cooling</text>
		{#each Object.keys(data_heat) as c, ci}
		   <g transform="translate({innerWidth*ci+50}, 105)">
			<text y="125" x="75" text-anchor="middle" font-size="18px">{c}</text>
			<circle cx={innerWidth-150} cy={innerHeight/12} r=80 />
			<line x1= "0" y1="20" x2="160" y2="20" style="stroke: black;"/>
			<line x1= "80" y1="-60" x2="80" y2="100" style="stroke: black;"/>
			<text y="-65" x="75" font-size="12px">12</text>
			<text y="110" x="77" font-size="12px">6</text>
			<text y="22" x="-9" font-size="12px">9</text>
			<text y="22" x="162" font-size="12px">3</text>
			
			
			
			<path  class=heat d={pathGen(data_heat[c]["heating"])} stroke="red"/>
			

			<path  class=cool d={pathGen(data_heat[c]["cooling"])} stroke="blue"/>

		
	</g>
	{/each}
	</g>>
</svg>

<style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}


	path.heat {
		fill: lightcoral;
		stroke: red;
		fill-opacity:0.5

	}


	path.cool {
		fill: lightblue;
		stroke: blue;
		fill-opacity: 0.5;

	}

	circle {
		fill: none;
		stroke: black;
	}

circle.legend_h {
	fill: lightcoral;
	fill-opacity: 0.5;
	stroke: red;
}
circle.legend_c {
	fill: lightblue;
	fill-opacity: 0.5;
	stroke: blue;
}
  </style>