<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary {current == 'messi' ? 'selected' : ''}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary {current == 'ronaldo' ? 'selected' : ''}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary {current == 'neymar' ? 'selected' : ''}" on:click={() => (current = "neymar")}>
  Neymar
</button>

<style>
	.selected{
		background-color: rgb(10, 7, 209);
	}
</style>
