<script>
const student = { name: 'Victor Wepener', Place: 'Bushveld', Beer: 'Windhoek', Sport: 'Rugby'};
// Two ways to access the properties:
</script>
<p>My name is {student.name} and these are some of my favourite things: {student.Place}, {student.Beer}, {student.Sport}.</p>