
<script>
function circle(r)
{
   
        let c = 2*Math.PI*r;
        return c.toFixed(2)
        
    };


let r = 8;
console.log('circumference =', circle(8));
</script>

<p>The circumference of a circle with radius <b>{r}m</b> is <b>{circle(r)}m</b>.</p>


