<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 800;
  const height = 150;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const figureBoxHeight = 60;
  // Array
  const values = [2, 4, 6, 7, 9];

  const logScaler = scaleLog()
    .domain([1, 10])
    .range([margin.left, width - margin.right]);

  const xAxis = axisBottom(logScaler);

  function addXAxis(node) {
    select(node)
      .append("g")
      .attr("transform", `translate(0, ${figureBoxHeight})`)
      .call(xAxis)
      .append("text")
      .style("text-anchor", "middle")
      .style("fill", "currentcolor")
      .attr("x", width / 2 - margin.left)
      .attr("y", 50)
      .text("x-axis");
  };
</script>

<svg viewBox="0 0 {width} {height}">

  <g use:addXAxis transform="translate({margin.left},{margin.top})">
    {#each values as v}
      <circle cx={logScaler(v)} cy={figureBoxHeight / 2} r=10 fill="steelBlue" />
    {/each}
  </g>
</svg>


