<script>
import { scaleLinear } from "d3-scale";
import { scaleOrdinal } from "d3-scale";
import { schemeSet1 } from "d3-scale-chromatic";
import { extent} from "d3-array";
import { axisBottom } from 'd3-axis';



  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const figureBoxHeight = 100;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  
  const scalex = scaleLinear()
    .domain([0, 10])
    .range([0, innerWidth])

  const scaley = scaleLinear()
    .domain([-2, 4])
    .range([innerHeight,0])  

  const cat = extent(values, value => value.category);

  const color =  scaleOrdinal()
      .domain(cat)
      .range(schemeSet1);

  const xAxis = axisBottom(color);    

  function addXAxis(node) {
   select(node)
     .append("g")
     .attr("transform", "translate(0," + innerHeight + ")")
     .call(xAxis)
     .selectAll("text")
     .attr("transform", "translate(-10,0)rotate(-45)")
     .style("text-anchor", "middle");    
  
  };
</script>

<svg viewBox="0 0 {width} {height}">
  <g use:addXAxis transform="translate({margin.left},{margin.top})">
    {#each values as v}
    <circle cx={scalex(v.x)} cy={scaley(v.y)} r=5 fill = "{color(v.category)}"/>
    <text transform="translate(0 ,-20)" class="valueLabel" style="fill: black;">{v.y}</text>
    <text class="valueLabel" x={scalex(v.x)} y={scaley(v.y)-10}>{v.y}</text>

    
   {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>


