<script>
   import { scaleBand, scaleLinear} from "d3-scale"; 
   import { fly } from "svelte/transition";
   import { max } from "d3-array";
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 150 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const xDomain = data.map((d) => d.service);
  const yDomain = data.map((d) => +d.viewers);
  
  const yScale = scaleBand()
    .domain(xDomain)
    .range([0, innerHeight])
    .paddingInner(0.15);
  const xScale = scaleLinear()
    .domain([0, Math.max.apply(null, yDomain)])
    .range([0, innerWidth]);
</script>

<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each xScale.ticks() as tickValue}
      <g transform={`translate(${xScale(tickValue)},0)`}>
        <line y2={innerHeight} stroke="black" />
        <text text-anchor="middle" dy=".71em" y={innerHeight+3}>
          {tickValue}
        </text>
      </g>
    {/each}
    {#each data as d}
    <text
      text-anchor="end"
      x="-3"
      dy=".32em"
      y={yScale(d.service) + yScale.bandwidth() / 2}
    >
      {d.service}
    </text>
    <rect
      x="0"
      y={yScale(d.service)}
      width={xScale(d.viewers)}
      height={yScale.bandwidth()} fill = "steelBlue"
    />
    {/each}
  </g>
</svg>


